@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.team, .userProfile {
  display: flex;
}

:root {
  --userthumb: 75px;
  --arrowSize: 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

.section {
  padding: 50px;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.section:before, .section:after {
  position: absolute;
  bottom: 0;
  right: 0px;
  z-index: -1;
  content: " ";
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background-color: white;
  opacity: 0.3;
  width: 400px;
  height: 450px;
  display: inline-block;
  transform: rotate(-180deg);
}
.section:before {
  transform: translateX(50%) translateY(30%) rotate(-60deg);
  opacity: 0.2;
}
.section:after {
  opacity: 0.1;
  transform: translateX(30%) translateY(20%) rotate(-45deg);
}
.section-header {
  padding: 15px 0;
  text-align: center;
}
.section-header * {
  color: white;
  text-align: center;
}
.section-title {
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 35px;
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
  margin: 0 auto;
}
.section-title:after {
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  .container::after {
  content: "";
  display: table;
  clear: both;
}


}

.userProfile {
  flex-wrap: wrap;
  align-items: center;
}
.userProfile__thumbnail {
  width: var(--userthumb, 75px);
  height: var(--userthumb, 75px);
  flex: 0 0 auto;
  background-color:none;
  margin: 0px;
  padding: 0px;
}
.userProfile__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  background-color: #f1f1f1;
}

.team {
  padding: 0px;
  list-style: none;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .team {
    justify-content: center;
  }
}
.team__members {
  position:relative;
  padding: 1rem;
  display: none;
  margin-bottom: calc(var(--userthumb) + var(--arrowSize)*2 );
  box-sizing: border-box;
  flex: 0 0 100%;
  filter: grayscale(1);
}
@media (min-width: 480px) {
  .team__members {
    padding: 1rem;
    display: inline-block;
    flex: 0 0 20%;
    margin: 0px;
  }
}

.team__members:nth-child(9n+6), .team__members:nth-child(9n+7), .team__members:nth-child(9n+8), .team__members:nth-child(9n+9) {
  left: auto;
}
@media (min-width: 480px) {
  .team__members:nth-child(9n+6), .team__members:nth-child(9n+7), .team__members:nth-child(9n+8), .team__members:nth-child(9n+9) {
    left: 0%;
  }
}
.team__members:nth-child(9n+9) {
  margin: 0px;
}
@media (min-width: 480px) {
  .team__members:nth-child(9n+9) {
    margin-right: 10%;
  }
}
.team__members .userProfile {
  justify-content: center;
  position: absolute;
  top: calc(100% + var(--arrowSize));
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media (min-width: 480px) {
  .team__members .userProfile {
    position: static;
  }
}
.team__members .userProfile__thumbnail {
  position:relative;
}
.team__members .userProfile__thumbnail:after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--userthumb, 50px);
  height: var(--userthumb, 50px);
  transform: translate(-50%, -50%) scale(0);
  background: linear-gradient(90deg, #fff, #f19066);
  background-size: 400% 400%;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s linear;
}
.team__members:hover, .team__members.team__members--show {
  filter: grayscale(0);
  display: inline-block;
}
@media (min-width: 480px) {
  .team__members:hover .team__details, .team__members.team__members--show .team__details {
    transform: translateX(-50%) scale(1, 1);
  }
}
.team__members:hover .userProfile__thumbnail:after, .team__members.team__members--show .userProfile__thumbnail:after {
  transform: translate(-50%, -50%) scale(1.2);
  animation: rainbow-border 1.5s linear infinite;
}
@media (max-width: 480px) {
  .team__members:hover:not(.team__members--show) {
    display: none !important;
  }
}
.team__details {
  margin: 0 auto;
  position: relative;
  transform: translateX(0%) scale(1, 1);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transform-origin: center bottom;
  transition: transform 0.3s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
@media (min-width: 480px) {
  .team__details {
    position: absolute;
    bottom: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%) scale(0, 0);
  }
}
.team__details:after {
  width: var(--arrowSize);
  height: var(--arrowSize);
  position: absolute;
  top: calc(100% - var(--arrowSize)/2);
  background-color: #fff;
  content: " ";
  transform: rotate(45deg);
  left: calc(50% - var(--arrowSize)/2);
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.team__details__summery {
  border-top: 1px dashed #ccc;
  padding-top: 15px;
  font-size: 15px;
  color: #aeaeae;
}
.team__meta {
  padding-bottom: 15px;
}
.team__meta__title {
  margin: 0px;
}
.team__meta__designation {
  margin-top: 10px;
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}