*{ 
   font-family: 'Raleway', sans-serif;
}

body, html {
max-width: 100%;
margin:0;
padding:0;
overflow-X:hidden;
}
.header{
position: fixed;
width:100%;
z-index:2;
}
.white{
  color:#fff;
}
body {
  background-image:url("sky3.jpeg");
  background-size:100%;
}


.bg{
      height:100vh;
      width:100%;
      background-image:url('home11.jpg');
      background-position:center;
      background-size: cover;
      display:flex;
      align-items:center;
}

nav{
   display:flex;
   justify-content: space-between;
   align-items: center;
   backdrop-filter: blur(5px);
   background-color: rgba(255, 255, 255, .06);
   padding-top: 0 !important;
    min-height: 40px !important;
   width:100%;
}
nav img{
       width:120px;
       height:80px;
       margin-left:30px;
}
.nav-links{
flex:1;
text-align:right;
}
.nav-links ul li{
   list-style:none;
   display:inline-block;
   padding:8px 12px;
   position:relative;
  
}
.nav-links ul li a{
  color:#fff;
  text-decoration:none;
  font-weight:500;
  font-size:1.1rem;
  
}
.nav-links ul li::after{
  content:'';
  width:0%;
  height:2px;
  background:#fff;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
 width:100%;
}

.text-box{
  color: #fff;
  text-align:center;
  height:fit-content;
  margin-left:20px;
  
 
}
.text-box h1{
  margin-bottom:5px;
  font-size:70px;
  font-family: 'Merriweather', serif;
}
.text-box h3{
   margin: 10px 0 40px;
   font-size: 55px;
   color:#fff;
   font-family: 'Merriweather', serif;
}
.btn{ 
 position:relative;
 background:#fff;
 color:#fff;
 text-transform:uppercase;
 padding:10px 30px;
 font-size:1.5em;
 background:transparent;
 text-decoration:none;
 letter-spacing:0.1em;
 font-weight:400;
 transition:0.5s;
}
.btn:hover{
  background:#DDA0DD;
  color:#DDA0DD;
  letter-spacing:0.25em;
  box-shadow: 0 0 35px #DDA0DD;
}
.btn:before{
  content:'';
  position:absolute;
  inset:2px;
  background:#141d3f;
  border:1px solid #fff;
}
.btn span{
 position:relative;
 z-index:1;
}
.btn i{
 position:absolute; 
 inset:0;
 display:block;
}
.btn i::before{
  content:'';
  position:absolute;
  top:0;
  left:80%;
  width:10px;
  height:4px;
  background:#141d3f;
  transform: translateX(-50%) skewX(325deg);
  transition:0.5s;
}
.btn:hover i::before{
  width:20px;
  left:20%;
}
.btn i::after{
  content:'';
  position:absolute;
  bottom:0;
  left:20%;
  width:10px;
  height:4px;
  background:#141d3f;
  transform: translateX(-50%) skewX(325deg);
  transition:0.5s;
}
.btn:hover i::after{
  width:20px;
  left:80%;
}
nav .fa{
  display:none;
}

@media(max-width:700px){
  .text-box h1{
     font-size: 30px;
     margin-top:50px;
}
  .text-box h3{
     font-size: 20px;
}
  .text-box{
     margin-left:0;
}
  .btn{
     font-size:1em;
}


  .nav-links ul li{
     display: block;
 } 
  .nav-links{
       position:absolute;
       background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); 
       height:100vh;
       width:150px;
       top:0;
       right:-200px;
       text-align:left;
       z-index:2;
       transition:1s;
}
nav .fa{
  display:block;
  color:#fff;
  margin:10px;
  font-size:22px;
  cursor:pointer;
  }
 .nav-links ul{
    padding:30px;
  }
.nav-links ul{
   padding:30px;
}
transform: translateX(100%);
}


/*-----domains-------*/

.container{
  width:100%;
  position:relative;
  display:grid;
  grid-template-columns: auto auto auto auto;
  justify-content:space-evenly;
  flex-wrap:wrap;
  margin:auto;

}
.container .card{
  position:relative;
  transition: .4s;
  
}

.container .card .face{
  width:300px;
  height:200px;
  transition: .4s;
}
.container .card .face.face1{
  position:relative;
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  z-index:1;
  transform:translateY(100px);
  height:200px;

}

.container .card:hover .face.face1{
  transform:translateY(0);
  box-shadow:inset 0 0 20px whitesmoke,
             inset 10px 0 80px #000,
             inset -20px 0 80px #000,
             inset 20px 0 300px #f0f,
             inset -20px 0 300px #000,
             0 0 50px #fff,
             -10px 0 80px #fff,
             10px 0 80px #f0f;
}

.container .card .face.face1 .content{
  transition: 0.5s;
  text-align:center;
}

.container .card .face.face1 .content i{
  font-size:3em;
  color:#fff;
  display:inline-block;
}
.container .card .face.face1 .content h3{
  font-size:1em;
  color:#fff;
  text-align:center;
}
.container .card .face.face1 .content img{
  width:30%;
  border-radius:10px;
}
.container .card .face.face1 .content a{
  transition: 0.5s;
}
.container .card .face.face2{
  position:relative;
  background:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  box-sizing:border-box;
  box-shadow:0 20px 50px rgba(0,0,0,.8);
  transform:translateY(-100px);
}
.container .card:hover .face.face2{
  transform:translateY(0);
}
.container .card .face.face2 .content p,a{
  font-size:12pt;
  margin:0;
  padding:0;
  color:#000000;
  text-align: justify;
  text-justify: auto;
  font-weight: 600;
}

.container .card .face.face2 content a:hover{
  background:#333;
  color:#000000;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,.5);
}
.container1{
  width:1000px;
  position:relative;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin:auto;
}
.container1 .card{
  position:relative;
}
.container1 .card .face{
  width:300px;
  height:200px;
  transition: .4s;
}
.container1 .card .face.face1{
  position:relative;
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  display:flex;
  justify-content:center;
  align-content:center;
  align-items:center;
  z-index:1;
  transform:translateY(100px);
}

.container1 .card:hover .face.face1{
  transform:translateY(0);
  box-shadow:inset 0 0 10px whitesmoke,
             inset 10px 0 80px #000,
             inset -20px 0 80px #000,
             inset 20px 0 300px #f0f,
             inset -20px 0 300px #000,
             0 0 50px #fff,
             -5px 0 80px #fff,
             5px 0 80px #f0f;
}

.container1 .card .face.face1 .content{
  transition: 0.5s;
  text-align:center;
}
.container1 .card:hover .face.face1 .content{
  opacity:1;
}
.container1 .card .face.face1 .content i{
  font-size:3em;
  color:#fff;
  display:inline-block;
}
.container1 .card .face.face1 .content h3{
  font-size:1em;
  color:#fff;
  text-align:center;
}
.container1 .card .face.face1 .content img{
  width:30%;
  border-radius:10px;
}
.container1 .card .face.face1 .content a{
  transition: 0.5s;
}
.container1 .card .face.face2{
  position:relative;
  background:whitesmoke;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:20px;
  box-sizing:border-box;
  box-shadow:0 20px 50px rgba(0,0,0,.8);
  transform:translateY(-100px);
}
.container1 .card:hover .face.face2{
  transform:translateY(0);
}
.container1 .card .face.face2 .content p,a{
  
font-size:12pt;
  margin:0;
  padding:0;
  color:#000000;
  text-align: justify;
  text-justify: auto;
  font-weight: 600;
  
}
.container1 .card .face.face2 content a{
  text-decoration:none;
  color:#111;
  box-sizing:border-box;
  outline:1px solid #333;
  padding:10px;
  margin:15px 0 0;
  display:inline-block;
}
.container1 .card .face.face2 content a:hover{
  background:#333;
  color:#fff;
  box-shadow:inset 0px 0px 10px rgba(0,0,0,.5);
}

.Dom{
  color:#fff;
  font-size:40px;
  font-weight:600;
  text-align:center;
}
.Domains h2{
color:#fff;
font-size:36px;
font-weight:600;
text-align:center;
}



.offer{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

h1{
 color:#fff;
 text-align:center;
 font-size:40px;
 font-weight:600;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill .text{
 color:#fff;
 width:50%;
 position:60%;
}
.offer .h2{
 text-align:center;
}
.skill img{
    float: right;
    width:300px;
    animation: bounce 0.9s infinite;
}

.skill div {
    padding:10px;
}

.project{
 display: flex;
  align-items: center;
  justify-content: center;
}
.project .text{
 color:#fff;
 width:40%;
text-justify: auto;

}

.project .image img{
    float:right;
    width:300px;
    animation: bounce 0.9s infinite;
}
@keyframes bounce{
   30%,50%,50%,to{
     transform:translateY(0);}
   40%{
     transform:translateY(-4px);}
   90%{
     transform:translateY(4px);}
}

.project div {
    padding:50px;
}
.competitions {
  display: flex;
  align-items: center;
  justify-content: center;
}
.competitions .text{
 color:#fff;
 width:50%;
 position:60%;
}

.competitions img{
    float: right;
    width:300px;
    animation: bounce 0.9s infinite;
}

.competitions div {
    padding:20px;
}

.industry{
 display: flex;
  align-items: center;
  justify-content: center;
}
.industry .text{
 color:#fff;
 width:40%;
text-justify: auto;

}

.industry .image img{
    float:right;
    width:300px;
    animation: bounce 0.9s infinite;
}
@keyframes bounce{
   30%,50%,50%,to{
     transform:translateY(0);}
   40%{
     transform:translateY(-4px);}
   90%{
     transform:translateY(4px);}
}

.industry div {
    padding:50px;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .text{
 color:#fff;
 width:50%;
 position:50%;
}

.portfolio img{
    float: right;
    width:300px;
    animation: bounce 0.9s infinite;
}

.portfolio div {
    padding:20px;
}

.network{
 display: flex;
  align-items: center;
  justify-content: center;
}
.network .text{
 color:#fff;
 width:40%;
text-justify: auto;

}

.network .image img{
    float:right;
    width:300px;
    animation: bounce 0.9s infinite;
}
@keyframes bounce{
   30%,50%,50%,to{
     transform:translateY(0);}
   40%{
     transform:translateY(-4px);}
   90%{
     transform:translateY(4px);}
}

.network div {
    padding:50px;
}


.icons{
  backdrop-filter: blur(5px);
  background-color: #000;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  text-align:center;
}
.footer h1{
 justify-content:center;
  text-align:center;
  color:#fff;
}
.icons a{
  text-decoration:none;
  padding:10px;
  margin:10px;
}
.thumbnail{
top:-50px; 
left:-35px; 
display:flex;  
z-index:999;
cursor: pointer; 
-webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease; 
} 

/*change the number below to scale to the appropriate size*/ 
.thumbnail:hover { 
transform: scale(1.2); 
}

.footer{
 background-color: #000;
}
.footerNav{
  height:fit-content;
}
.footerNav ul{
  display:flex;
  justify-content:center;
   text-align:center;
}
.footerNav ul li a{
  color:#fff;
  margin:20px;
  text-decoration:none;
  font-size:1.0em;
  opacity:0.7;
  transition:0.5;
  justify-content:center;
   text-align:center;
}
.footerNav ul li a:hover{
  opacity:1;
}
.footerbottom{
text-align:center;
color:#fff;
z-index:1;
}
.red{
 color:#FF0000;
}
 hr{
 border:none;
 height:0.5px;
 color:#333;
 background-color: #333;
}


@media screen and (max-width: 420px){
.text-box{
margin-top:100px;
}
}

@media(max-width: 700px){
  .footerNav{
     font-size: 9px;
     text-align:center;
}
}
@media screen and (max-width: 500px){
   .bg{
    height:100vh;
    padding-left:1rem;
    background-image:url('home5.jpg');
}
nav img{
       width:90px;
       height:60px;
       margin-left:10px;
}

.text-box h1{
     font-size: 36px;
     margin-top:150px;
     margin-bottom:auto;
     text-shadow: 0px 3px 3px #000000;
}
  .text-box h3{
     font-size: 25px;
     text-shadow: 0px 3px 3px #000000;
}
  .text-box{
     margin-left:10px;
     margin-top:450px;

}
  .btn{
     font-size:1em;
}
  .Dom{
     font-size:25px;
}
  .container{
     display:flex;
     justify-content:center;
 }

  .container1{
    width:100%;
    display:grid;
    justify-content:center;
 }
  .skill .image img{
   height:130px;
   width:180px;
}
.network .image img{
   height:160px;
   width:200px;
}
.project .image img{
   height:120px;
   width:180px;
}
.competitions .image img{
   height:130px;
   width:180px;
}
.industry .image img{
   height:120px;
   width:180px;
}
.portfolio .image img{
   height:150px;
   width:180px;
   padding:0
}
.project .image, .project .text{
 padding:0;
}
.portfolio .image, .portfolio .text{
 padding:0;
}
.competitions .image, .competitions .text{
 padding:0;
}
.network .image, .network .text{
 padding:0;
}
.industry .image, .industry .text{
 padding:0;
}
.project{
  justify-content:space-around;
  max-width:100%;
}
.competitions{
  justify-content:space-around;
  max-width:100%;
}
.industry{
  justify-content:space-around;
  max-width:100%;
}
.portfolio{
  justify-content:space-around;
  max-width:100%;
}
.network{
  justify-content:space-around;
  max-width:100%;
}
footer{
  max-width:100%;
}
.thumbnail{
  height:25px;
  width:29px;
}
.footerNav ul{
  text-align:center;
  padding:0;
  text-indent:-30px;
  margin-left:25px;
}
.footerbottom p{
 font-size:10px;
}
}

@media screen and (max-width: 400px){
   .bg{
    height:100vh;
    padding-left:1rem;
    background-image:url('home5.jpg');
}
.text-box h1{
     font-size: 33px;
     margin-top:50px;
     margin-bottom:auto;
     text-shadow: 0px 3px 3px #000000;
     margin-left:auto;
     margin-right:auto;
}
  .text-box h3{
     font-size: 25px;
     text-shadow: 0px 3px 3px #000000;
}
  .text-box{
     margin-right:34px;
     margin-top:350px;
     width:100%;
      
}
  .btn{
     font-size:1em;
}
 .nav-links{
   height:100vh;
}
 .nav img{
       width:80px;
       margin-left:30px;
}
}
@media only screen and (max-device-width: 400px) and (min-device-height: 800px) {

 .text-box{
     margin-right:34px;
     margin-top:500px;
     width:100%;
 }
}

/* @media only screen and (max-width:950px){

 .text-box{
     margin-top:450px;
     margin-right:30px;
     margin-left:0px;
     width:100%;
 }
  .text-box h1{
     font-size:20px;
 }
}*/
@media only screen and (max-device-width: 380px) and (min-device-height: 700px) {

 .text-box{
     margin-top:450px;
     margin-right:30px;
     margin-left:0px;
     width:100%;
 }
  .text-box h1{
     font-size:32px;
 }
}

/*@media only screen and (min-width: 400px) and (max-device-width: 960px){
 .text-box h1{
    font-size: 15px;
}
*/

@media(max-width: 700px){
  .offer .image .img{
    width: 2px;
    height:2px;
}
  .offer .text{
    position:0;
    font-size:12px;
}
}

@media(max-width:1000px){
  .container1{
       flex-direction:column;
}
}

@media only screen and (min-width: 750px) and (max-device-width: 820px){
.bg{
background-image: url("home20.jpg");
}
.nav-links ul li a{
font-size: 13px;
}
nav img{
       width:95px;
       height:60px;
}
.text-box{
    margin-top: 650px;
    margin-left: 65px;
    
}
 .text-box h1{
    font-size: 65px;
    margin-left: 0px;
    margin-bottom:0px;
}
.text-box h3{
    font-size: 50px;
}
.btn{
font-size: 2em;
}
.container{
grid-template-columns: auto auto;
}
.container1{
display : grid;
grid-template-columns: auto auto;
width: 100%;
justify-content: space-evenly;
}

#cyber{
margin-left:60%;
}
.thumbnail{
  height:25px;
  width:29px;
}
.icons a{
padding:none;
}
.footerNav ul{
font-size:14px;
}
.nav-links ul li a{
font-size: 14px;
}
nav img{
height:90px;
width:130px;
}
}

@media only screen and (max-width: 1030px) and (min-height:1350px){
.bg{
background-image: url("home20.jpg")

}
.nav-links ul li a{
font-size: 13px;
}
nav img{
       width:95px;
       height:60px;
}
.text-box{
    margin-top: 750px;
    margin-left: 80px;
    
}
 .text-box h1{
    font-size: 85px;
    margin-left: 0px;
    margin-bottom:0px;
}
.text-box h3{
    font-size: 60px;
}
.btn{
font-size: 2.5em;
}
.container{
grid-template-columns: auto auto;
}
.container1{
display : grid;
grid-template-columns: auto auto;
width: 100%;
justify-content: space-evenly;
}

#cyber{
margin-left:60%;
}
.thumbnail{
  height:25px;
  width:29px;
}
.icons a{
padding:none;
}
.nav-links ul li a{
font-size: 1.2rem;
}
nav img{
height:100px;
width:150px;
}
}
@media only screen and (min-width: 800px) and (max-device-width:940px){
.text-box h1{
font-size: 40px;
}
.text-box h3{
font-size: 30px;
}
.btn{
font-size:1rem;
}
.nav-links ul li a{
font-size: 14px;
}
.container{
grid-template-columns: auto auto;
}
.container1{
display : grid;
grid-template-columns: auto auto;
width: 100%;
justify-content: space-evenly;
}

#cyber{
margin-left:60%;
}
.thumbnail{
  height:25px;
  width:29px;
}
.icons a{
padding:none;
}
}

@media only screen and (min-width: 740px) and (max-device-width:750px){
.text-box{
margin-left:10px;
}
.text-box h1{
font-size: 40px;
margin-bottom:0px;
}
.text-box h3{
font-size: 30px;
}
.btn{
font-size:1rem;
}
.nav-links ul li a{
font-size: 12px;
}
nav img{
height:50px;
width:90px;
}
.container{
grid-template-columns: auto auto;
}
.container1{
display : grid;
grid-template-columns: auto auto;
width: 100%;
justify-content: space-evenly;
}

#cyber{
margin-left:60%;
}
.thumbnail{
  height:25px;
  width:29px;
}
.icons a{
padding:none;
}
}
@media only screen and (max-width: 420px) and (max-device-height:750px){
.text-box{
margin-top:350px;
}
}
@media only screen and (min-width: 620px) and (max-device-height:380px){
.text-box{
margin-left:15px;
}
.text-box h1{
font-size: 35px;
}
.text-box h3{
font-size: 30px;
}
.btn{
font-size:1rem;
}
.nav-links ul li a{
font-size: 12px;
}
nav img{
height:50px;
width:80px;
}
.container{
grid-template-columns: auto auto;
}
.container1{
display : grid;
grid-template-columns: auto auto;
width: 100%;
justify-content: space-evenly;
}

#cyber{
margin-left:60%;
}
.thumbnail{
  height:25px;
  width:29px;
}
.icons a{
padding:none;
}
}
@media only screen and (min-width: 620px) and (max-device-width:650px){
.text-box{
margin-left:15px;
}
.text-box h1{
font-size: 35px;
}
.text-box h3{
font-size: 30px;
}
.btn{
font-size:1rem;
}
.nav-links ul li a{
font-size: 12px;
}
nav img{
height:50px;
width:80px;
}
.container{
grid-template-columns: auto auto;
}
.container1{
display : grid;
grid-template-columns: auto auto;
width: 100%;
justify-content: space-evenly;
}

#cyber{
margin-left:60%;
}
.thumbnail{
  height:25px;
  width:29px;
}
.icons a{
padding:none;
}
}

@media only screen and (max-width: 920px) and (min-device-height:1300px){
.nav-links ul li a{
font-size: 18px;
}
.text-box{
margin-left:55px;
}
.text-box h1{
font-size: 80px;
margin-bottom:0px;
}
.text-box h3{
font-size: 60px;
}
.btn{
font-size:2.5rem;
}
.container{
grid-template-columns: auto auto;
}
.container1{
display : grid;
grid-template-columns: auto auto;
width: 100%;
justify-content: space-evenly;
}

#cyber{
margin-left:70%;
}
}


@media only screen and (min-width: 1020px) and (max-device-width:1030px){
.text-box{
margin-left:5px;
}
.text-box h1{
font-size: 60px;
margin-bottom:0px;
}
.text-box h3{
font-size: 40px;
}
.btn{
font-size:1.5rem;
}
.container{
grid-template-columns: auto auto;
}
.container1{
display : grid;
grid-template-columns: auto auto;
width: 100%;
justify-content: space-evenly;
}

#cyber{
margin-left:70%;
}
}
@media only screen and (min-width: 2000px){
.nav-links ul li a{
font-size: 50px;
}
nav img{
width:250px;
height:180px;
}
.text-box{
margin-left:40px;
}
.text-box h1{
font-size:160px;
margin-bottom:50px;
}
.text-box h3{
font-size:140px;
margin-bottom:100px;
}
.btn{
font-size:5rem;
}
}
@media only screen and (min-width: 810px)and (min-device-height:1170px){
.text-box{
margin-right:0px;
margin-left:50px;
}
.text-box h1{
font-size:70px;
margin-bottom:0px;
}
.text-box h3{
font-size:40px;
}
.btn{
font-size:2rem;
}
}
@media only screen and (min-width: 1020px)and (min-device-height:1350px){
.text-box{
margin-left:150px;
}
}